/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

/* Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800&display=swap");

/* Variable Color Pallete */
$hitam: #212123;
$abu: #616063;
$cream: #ccb9b1;
$coklat-muda: #c08267;
$coklat-tua: #a0583c;

/* Basic Style */
body {
  font-family: "Montserrat", sans-serif;
  a {
    display: inline-block;
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
    color: $coklat-tua;
  }
}

/* Skip Konten */
.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  background-color: $coklat-muda;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.container {
  margin: 0;
  padding: 0;

  @media screen and (min-width: 660px) {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/* Navbar */
header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  background-color: white;
  @media screen and (max-width: 300px) {
    justify-content: space-between;
  }

  .logo {
    margin-right: auto;
    img {
      height: 56px;
    }
    @media screen and (max-width: 300px) {
      display: none;
    }
  }
  .logo-only {
    img {
      height: 56px;
    }
    @media screen and (min-width: 300px) {
      display: none;
    }
  }
}

.nav__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav__links a,
.cta,
.overlay__content a {
  min-width: 44px;
  min-height: 44px;
  display: inline-block;
  border-radius: 25px;
  font-weight: 600;
  color: $coklat-tua;
  text-transform: uppercase;
  padding: 15px 15px;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  background: $coklat-muda;
  transition: 0.5s;
  color: white;
}

.cta {
  background-color: $cream;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: $abu;
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: $cream;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: $abu;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}

/* Akhir Navbar */

/* Jumbotron */
.hero {
  display: flex;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url("../../public/images/hero-image.jpg");
  background-size: cover;
  background-position: center center;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 15px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.hero__title {
  color: #fff;
  font-weight: 600;
  font-size: 36px;

  @media screen and (max-width: 430px) {
    font-size: 24px;
  }
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;

  @media screen and (max-width: 430px) {
    font-size: 14px;
  }
}
/* Akhir Jumbotron */

/* Heading Section */
.section-title {
  margin-top: 20px;
  h2 {
    position: relative;
    font-size: 36px;
    font-weight: 800;
    margin: 0;
    color: $coklat-muda;
  }
  .container {
    ::after {
      content: "";
      display: block;
      margin: 20px auto 15px -40px;
      width: 106px;
      border-bottom: 4px solid $hitam;
    }
  }
}
/* Akhir */

/* Daftar Restoran */

main {
  padding: 20px;
}
.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;

  .card {
    background-color: #eeeeee;
    border-radius: 15px;
    display: grid;
  }
}

.card__img {
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-radius: 15px;

  img {
    border-radius: 15px;
    width: 100%;
    height: 150px;
    object-fit: cover;
    display: block;
  }
}

.card__content {
  border-radius: 15px;
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
  h3 {
    color: $coklat-tua;
    font-weight: 600;
    font-size: 18px;
  }
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  border-radius: 15px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: $coklat-tua;
  font-size: 0.8em;
  max-height: 45px;
  align-self: end;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

/* Akhir Daftar Restoran*/

/* Location */
.google-map-wrapper {
  margin: 0 auto;
  max-width: 1170px;
  border: 2px solid $coklat-muda;
  .container {
    padding: 0;
    .googlemap {
      width: 100%;
    }
  }
}
/* Akhir Location */

/* Footer */
footer {
  background-color: $cream;
  height: 230px;
  .container {
    padding: 15px;
    display: grid;
    justify-content: center;
    margin-top: 20px;
  }

  .footer__logo {
    justify-self: center;
    img {
      max-width: 150px;

      @media only screen and (max-width: 300px) {
        width: 100%;
      }
    }
  }

  .footer__caption {
    p {
      color: $coklat-tua;
      align-items: center;
      font-weight: 600;
    }
  }
}
/* Akhir Footer */
