/* Skip Konten */
.skip-link {
  position: absolute;
  top: -45px;
  left: 0;
  background-color: #c08267;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.container {
  margin: 0;
  padding: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
  background-color: white;
}

.logo img {
  height: 56px;
}

.logo-only {
  display: none;
}

.logo-only img {
  height: 56px;
}

/* AppBar */

.app-bar {
  background-color: white;
  display: grid;
  grid-template-columns: auto 1fr auto;
  position: sticky;
  top: 0;
  z-index: 99;
}

.app-bar .app-bar__menu {
  display: flex;
  align-items: center;
}

.app-bar .app-bar__menu button {
  background-color: transparent;
  border: none;
  font-size: 18px;
  padding: 8px;
  cursor: pointer;
}

.fa-bars {
  color: var(--primary-color);
}
.app-bar .app-bar__brand {
  display: flex;
  align-items: center;
  justify-self: end;
}

.app-bar .app-bar__navigation {
  position: absolute;
  top: 70px;
  left: -180px;
  width: 150px;
  transition: all 0.3s;
  background-color: white;
  overflow: hidden;
}

.app-bar .app-bar__navigation.open {
  left: 0;
}

.app-bar .app-bar__navigation ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 20px;
  margin-bottom: 5px;
  width: 100%;
  font-weight: 600;
}

/* Akhir Appbar */

/* Jumbotron */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 380px;
  width: 100%;
  text-align: center;
  background-image: url('../../public/images/hero-image.jpg');
  background-size: cover;
  background-position: center center;
}

.hero__inner {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 15px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 5px;
}

.hero__title {
  color: #fff;
  font-weight: 600;
  font-size: 36px;
}

.hero__tagline {
  color: #fff;
  margin-top: 16px;
  font-size: 18px;
  font-weight: 300;
}

/* Akhir Jumbotron */
/* Heading Section */
.section-title {
  margin-top: 20px;
}

.section-title h2 {
  position: relative;
  font-size: 36px;
  font-weight: 800;
  margin: 0;
  color: #c08267;
}

.section-title .container ::after {
  content: '';
  display: block;
  margin: 20px auto 15px -40px;
  width: 106px;
  border-bottom: 4px solid var(--primary-color);
}

/* Akhir */
/* Daftar Restoran */
main {
  padding: 20px;
}

.cards {
  margin: 0 auto;
  max-width: 1000px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr)) [auto-fill];
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 20px;
  padding-top: 30px;
}

.cards .card {
  background-color: var(--tertiary-color);
  border-radius: 15px;
  display: -ms-grid;
  display: grid;
}

.card__img {
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-radius: 15px;
}

.card__img img {
  border-radius: 15px;
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
}

.card__content {
  border-radius: 15px;
  line-height: 1.5;
  font-size: 0.9em;
  padding: 15px;
}

.card__content h3 {
  color: var(--secondary-color);
  font-weight: 600;
  font-size: 18px;
}

.card__content > p:first-of-type {
  margin-top: 0;
}

.card__content > p:last-of-type {
  margin-bottom: 0;
}

.card__info {
  border-radius: 15px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--tertiary-color);
  background-color: var(--secondary-color);
  font-size: 0.8em;
  max-height: 45px;
  -ms-flex-item-align: end;
  align-self: end;
}

.card__info i {
  font-size: 0.9em;
  margin-right: 8px;
}

/* Akhir Daftar Restoran*/
/* Detail Restorn */
.detail,
.detail::before,
detail::after {
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.detail__wrapper {
  width: 100%;
  max-width: 98rem;
  padding: 3rem 5rem;
  background-color: #fff;
  display: flex;
  border-radius: 0.8rem;
}

.detail__img {
  min-width: 35rem;
  max-width: 35rem;
  transform: translateX(-3rem);
  position: relative;
  flex: 1;
}

.detail__img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.detail__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.8rem;
}

.detail__info ul {
  display: block;
  list-style: none;
  font-size: 2rem;
  font-weight: 600;
  margin: 1.5rem 0 2rem;
  padding: 0;
}

.detail__info li {
  margin: 5px 0;
}
.detail__info span {
  padding-left: 20px;
}

.detail__category li {
  list-style: none;
  margin: 20px 0;
}
.category {
  padding: 0.3em 1em;
  color: #eee;
  background-color: var(--primary-color);

  border: 1px solid transparent;
  border-radius: 0 10px 0px 10px;
}

.detail__description {
  flex: 1;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}

/* Akhir Detail Restoran */

/* Menu Restoran */
.menu {
  width: 300px;
}

.menu ul {
  position: relative;
  background: #fff;
}

.menu ul li {
  padding: 10px;
  width: 100%;
  list-style: none;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s;
}

.menu ul li:hover {
  transform: scale(1.1);
  z-index: 100;
  background: var(--secondary-color);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  color: var(--tertiary-color);
  text-transform: uppercase;
}

.menu ul li span {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background: var(--primary-color);
  color: var(--tertiary-color);
  display: inline-block;
  border-radius: 50%;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 600;
}

/* Akhir Menu Restoran */

/* Review Restoran */
.review {
  margin-top: 20px;
  padding: 20px 0;
  background: #f1f1f1;
}

.testimonials {
  padding: 20px 0;
  color: #434343;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.col {
  flex: 33.33%;
  max-width: 33.33%;
  box-sizing: border-box;
  padding: 15px;
}
.testimonial {
  background: #fff;
  padding: 30px;
}
.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.name {
  font-size: 20px;
  text-transform: uppercase;
  margin: 20px 0;
}

/* Akhir Review Restoran */

/* Post Review */
.form {
  margin: 40px 25px;
  padding: 25px 30px;
  background-color: var(--tertiary-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.form input {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.form button {
  margin-top: 10px;
  outline: none;
  height: 100%;
  width: 100%;
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
}

.form button:hover {
  background-color: var(--secondary-color);
}

input,
textarea {
  height: 45px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  border: 3px solid #fdfaf6;
  box-shadow: 0px 2px 2px rgba(241, 240, 240, 0.25);
  padding-left: 15px;
  font-size: 16px;
  transition: all 0.3s ease;
}

textarea {
  min-height: 100px;
  padding: 8px;
}

input:focus,
textarea:focus {
  border-color: var(--primary-color);
}

label {
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

button {
  min-width: 44px;
  min-height: 44px;
}
/* Akhir Post Review */

/*
   Like
*/
.like {
  font-size: 24px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  background-color: var(--primary-color);
  color: white;
  border: 0;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Footer */
footer {
  background-color: var(--secondary-color);
  height: 230px;
}

footer .container {
  padding: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}

footer .footer__logo {
  -ms-grid-column-align: center;
  justify-self: center;
}

footer .footer__logo img {
  max-width: 150px;
}

footer .footer__caption p {
  color: var(--tertiary-color);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
}

/* Akhir Footer */
