@media screen and (max-width: 300px) {
  header {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  header .logo {
    display: none;
  }
  header .logo-only {
    display: block;
  }
  footer .footer__logo img {
    width: 100%;
  }
}

@media screen and (max-width: 430px) {
  .hero__title {
    font-size: 24px;
  }
  .hero__tagline {
    font-size: 14px;
  }
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media screen and (min-width: 660px) {
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
